<%@ control Language="VB" AutoEventWireup="false" CodeFile="onlineenrolmentnotavailable_timeout.ascx.vb" Inherits="onlineenrolmentnotavailable_timeout"  %>

<br /><br />

<div class="alert alert-danger">


    <h3>
        Session Timeout</h3>
    <p>
        I'm sorry, your session has timed out due to inactivity. Please <a href="webenrolment.aspx?page=webcontrols/search.ascx" class="alert-link">retry</a> your application/enrolment. </p>

    </div>
