﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="thankyou_application.ascx.vb" Inherits="webcontrols_thankyou_applications" %>


<h2 class="alert alert-success">
    You have successfully submitted your application.</h2>
    <p>
        Congratulations, you have taken the first step and our team will now progress your application. 
		You can track your application online and also access a range of benefits,  including:
		<ul>
			<li>Free Microsoft online courses</li>
		</ul>
		   </p>